Repository fluxcd/flagger, pull requests merged in 2022-10, with the labels that each got.

#1270 Add support for Slack bot token authentication
  cmd/flagger/main.go
  docs/gitbook/usage/alerting.md
  pkg/controller/events.go
  pkg/notifier/client.go
  pkg/notifier/client_test.go
  pkg/notifier/discord.go
  pkg/notifier/factory.go
  pkg/notifier/gchat.go
  pkg/notifier/rocket.go
  pkg/notifier/slack.go
  pkg/notifier/slack_test.go
  pkg/notifier/teams.go
Labels: kind/enhancement

#1265 Use Helm to install loadtester in kubernetes-blue-green docs
  docs/gitbook/tutorials/kubernetes-blue-green.md
Labels: kind/docs

#1285 Add link to Flux governance document
  GOVERNANCE.md
  README.md
Labels: kind/docs

#1286 ci: Adjust GitHub workflow permissions
  .clomonitor.yml
  .github/dependabot.yml
  .github/workflows/build.yaml
  .github/workflows/e2e.yaml
  .github/workflows/helm.yaml
  .github/workflows/push-ld.yml
  .github/workflows/release.yml
  .github/workflows/scan.yml
  README.md
Labels: kind/build

#1292 ci: Sign release and containers with Cosign and GitHub OIDC
  .cosign/README.md
  .cosign/cosign.key
  .cosign/cosign.pub
  .github/workflows/push-ld.yml
  .github/workflows/release.yml
  .goreleaser.yml
Labels: kind/build

#1293 ci: Publish signed Helm charts and manifests to GHCR
  .github/workflows/release.yml
Labels: kind/build

#1294 docs: Add guide on how to install Flagger with Flux OCI
  docs/gitbook/README.md
  docs/gitbook/SUMMARY.md
  docs/gitbook/install/flagger-install-with-flux.md
Labels: kind/docs

#1302 fix(faq): Update FAQ about zero downtime with correct values
  docs/gitbook/faq.md
Labels: kind/docs
