Repository fluxcd/flagger, pull requests merged in 2023-09, with the labels that each got.

#1506 Update Kubernetes to v1.27
  .github/workflows/e2e.yaml
  go.mod
  go.sum
  hack/update-codegen.sh
  pkg/client/clientset/versioned/typed/apisix/v2/fake/fake_apisixroute.go
  pkg/client/clientset/versioned/typed/appmesh/v1beta1/fake/fake_mesh.go
  pkg/client/clientset/versioned/typed/appmesh/v1beta1/fake/fake_virtualnode.go
  pkg/client/clientset/versioned/typed/appmesh/v1beta1/fake/fake_virtualservice.go
  pkg/client/clientset/versioned/typed/appmesh/v1beta2/fake/fake_virtualnode.go
  pkg/client/clientset/versioned/typed/appmesh/v1beta2/fake/fake_virtualrouter.go
  pkg/client/clientset/versioned/typed/appmesh/v1beta2/fake/fake_virtualservice.go
  pkg/client/clientset/versioned/typed/flagger/v1beta1/fake/fake_alertprovider.go
  pkg/client/clientset/versioned/typed/flagger/v1beta1/fake/fake_canary.go
  pkg/client/clientset/versioned/typed/flagger/v1beta1/fake/fake_metrictemplate.go
  pkg/client/clientset/versioned/typed/gateway/v1/fake/fake_routetable.go
  pkg/client/clientset/versioned/typed/gatewayapi/v1alpha2/fake/fake_httproute.go
  pkg/client/clientset/versioned/typed/gatewayapi/v1beta1/fake/fake_httproute.go
  pkg/client/clientset/versioned/typed/gloo/v1/fake/fake_upstream.go
  pkg/client/clientset/versioned/typed/istio/v1alpha3/fake/fake_destinationrule.go
  pkg/client/clientset/versioned/typed/istio/v1alpha3/fake/fake_virtualservice.go
  pkg/client/clientset/versioned/typed/keda/v1alpha1/fake/fake_scaledobject.go
  pkg/client/clientset/versioned/typed/kuma/v1alpha1/fake/fake_trafficroute.go
  pkg/client/clientset/versioned/typed/projectcontour/v1/fake/fake_httpproxy.go
  pkg/client/clientset/versioned/typed/smi/v1alpha1/fake/fake_trafficsplit.go
  pkg/client/clientset/versioned/typed/smi/v1alpha2/fake/fake_trafficsplit.go
  pkg/client/clientset/versioned/typed/smi/v1alpha3/fake/fake_trafficsplit.go
  pkg/client/clientset/versioned/typed/traefik/v1alpha1/fake/fake_traefikservice.go
Labels: dependencies

#1516 Update Linkerd tutorial to use Kubernetes Gateway API
  docs/diagrams/flagger-linkerd-traffic-split.png
  docs/gitbook/tutorials/linkerd-progressive-delivery.md
  kustomize/linkerd/patch.yaml
  test/linkerd/install.sh
  test/linkerd/test-canary.sh
  test/linkerd/test-steps.sh
Labels: kind/docs

#1521 Add Checksum field to the Webhook payload to distinguish canary runs
  docs/gitbook/usage/webhooks.md
  pkg/apis/flagger/v1beta1/canary.go
  pkg/canary/spec.go
  pkg/canary/status.go
  pkg/controller/scheduler.go
  pkg/controller/scheduler_hooks.go
  pkg/controller/webhook.go
  pkg/controller/webhook_test.go
Labels: kind/enhancement

#1518 docs: fix error example in deployment strategies
  docs/gitbook/usage/deployment-strategies.md
Labels: kind/bug, kind/docs
